/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/*background-image: url('/bg.PNG');*/
background-color: #F3F4FA;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.container{
height: 100%;
align-content: center;
}
.card{
height: 370px;
margin-top: 15%;
margin-bottom: auto;
width: 450px;
background-color: rgba(0,0,0,0.5) !important;
}
.cardd{
height: 210px;
margin-top: 15%;
margin-bottom: auto;
width: 500px;
background-color: rgba(0,0,0,0.5) !important;
}
.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}
.social_icon span:hover{
color: white;
cursor: pointer;
}
.card-header h3{
color: white;
}
.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
.input-group-prepend span{
width: 50px;
background-color: #92278f;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.remember{
color: white;
}
.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}
.login_btn{
color: black;
background-color: #92278f;
width: 100px;
}

.login_btn:hover{
color: white;
}

.links{
color: white;
}
.links a{
margin-left: 4px;
color: #eaaee8;
}

.links a:hover{
color: #da72d6;
}
.logoimg{
  position: absolute;
right: 20px;
top: -15px;
  width: 30%;
}
.footerimg{
    position: absolute;
right: 25%;
bottom: -60px;
  width: 50%;
}
.btn-link{
	color: #eaaee8;
}
.btn-link:hover{
color: #da72d6;
}
.admin{
color: white;
}
.admin:hover{
color: #da72d6;
}